#select_language_age
{
    position: absolute;
    left: 0;
    top: 30%;
    width: 85%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.course_filters
{
    width: 35%;
    height: 85%;
    border-radius: calc((2vw + 2vh)/2);
    background-color: var(--contrast_color);
    display: flex;
    flex-direction: column;
}
.prompt_filter
{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background_color);
    font-weight: 300;
}
.scrollable_div
{
    width: 99%;
    height: 75%;
    overflow-y: scroll;
}
.scrollable_div::-webkit-scrollbar
{
    background-color: var(--background_color);
    width: calc((1.5vw + 1.5vh)/2);
    border-radius: calc((2vw + 2vh)/2);
}
.scrollable_div::-webkit-scrollbar-thumb
{
    background-color: var(--main_color);
    width: calc((1.5vw + 1.5vh)/2);
    border-radius: calc((2vw + 2vh)/2);
}
.filter_course
{
    width: 80%;
    height: 27%;
    box-sizing: border-box;
    border: calc((0.2vw + 0.2vh)/2) solid var(--background_color);
    border-radius: calc((1vw + 1vh)/2);
    cursor: pointer;
    display: flex;
    margin-bottom: 5%;
    position: relative;
    left: 10%;
    top: 5%;
    overflow: hidden;
    z-index: 0;
}
.filter_course::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0;
    transition: 1s ease;
}
.filter_english::after
{
    background-image: url("../images/background_london.jpg");
}
.filter_german::after
{
    background-image: url("../images/background_berlin.jpg");
}
.filter_french::after
{
    background-image: url("../images/background_france.jpg");
}
.filter_spanish::after
{
    background-image: url("../images/background_spain.jpg");
}
.filter_italian::after
{
    background-image: url("../images/background_italy.jpg");
}
.filter_course:hover::after
{
    transform: translateY(-100%);
    border-radius: calc((1vw + 1vh)/2);
    opacity: 1;
}
.icon_filters
{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course_icon
{
    width: calc((4.5vw + 4.5vh)/2);
    height: calc((4.5vw + 4.5vh)/2);
    object-fit: cover;
    border-radius: 50%;
    border: calc((0.2vw + 0.2vh)/2) solid var(--background_color);
    transition: border 1s ease;
}
.filter_course:hover .course_icon
{
    border: calc((0.2vw + 0.2vh)/2) solid var(--main_color);
}
.filter_course p
{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background_color);
    font-weight: 300;
    transition: color 1s ease;
}
.filter_course:hover p
{
    color: var(--main_color);
}
.filter_course svg
{
    width: 15%;
    box-sizing: border-box;
    padding-right: 4%;
}
.accept_course_icon
{
    fill: var(--background_color);
    fill-rule: evenodd;
    opacity: 0;
    transition: fill 1s ease, opacity 1s ease;
}
.visible_accept_icon
{
    opacity: 1;
}
.filter_course:hover .accept_course_icon
{
    fill: var(--main_color);
}
.age_filter::after
{
    background-color: var(--background_color);
}
.age_icon
{
    width: calc((4.5vw + 4.5vh)/2);
    height: calc((4.5vw + 4.5vh)/2);
}