#roadmap
{
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: calc((4vw + 4vh)/2);
    border-bottom-left-radius: calc((4vw + 4vh)/2);
    border-left: calc((0.2vw + 0.2vh)/2) solid var(--main_color);
    backdrop-filter: blur(50px);
}
.roadmap_title
{
    position: absolute;
    top: 5%;
    height: 7%;
}
.roadmap_div
{
    position: relative;
    top: 12%;
    width: 100%;
    height: 17.6%;                                      /* 88 деленное на 5 дивов  */          
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 10%;
}
.roadmap_bulb
{
    width: 20%;
    height: 35%;
    cursor: pointer;
}
.lines_inner_bulb
{
    fill: var(--main_color);
    transition: 1s ease;
}
.current_lines
{
    fill: var(--main_color_transparent);
}
.bulb_filler
{
    fill: transparent;
    stroke: var(--main_color);
    stroke-width: 0%;  
    transition: 1s ease;
}
.current_fill
{
    stroke-width: 150%;
}
.roadmap_bulb:hover .lines_inner_bulb
{
    fill: var(--main_color_transparent);
}
.roadmap_bulb:hover .bulb_filler
{
    stroke-width: 150%;
}
.roadmap_text
{
    font-size: calc((1.25vw + 1.25vh)/2);
    font-weight: 300;
    cursor: pointer;
}
.space_for_lines
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.roadmap_lines
{
    fill: transparent;
    stroke-width: 1%;
    stroke-dasharray: 1.5%;
    transition: stroke 1s ease;
    stroke: var(--main_color_inactive);
}
.roadmap_passed_lines
{
    stroke: var(--main_color);
}